.header{
    grid-area: h;
    background-color: #1cd7c1;
    display: flex;
    justify-content: space-between;
}

.header img{
    width: 50px;
}

.link{
    color: #fff;
    text-decoration: none;
}

.active{
    color: gold;
    text-decoration: none;
}